#footer {
	background: #091b22;
	padding: 0 0 14px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	p {
		margin: 0;
	}
	.logo-holder {
		width: 230px;
		flex: 0 0 230px;
		@include media(tablet) {
			width: 166px;
			flex: 0 0 166px;
		}
		@include media(mobile) {
			width: 100%;
			display: block;
			text-align: center;
		}
	}
	.zfort-logo {
		max-width: 100%;
		a {
			display: block;
		}
	}
	.zday-logo {
		max-width: 70px;
		display: block;
		margin: 0 0 0 auto;
		@include media(mobile) {
			margin: 0;
			display: inline-block;
			vertical-align: top;
		}
		a {
			display: block;
		}
	}
}
.footer-holder {
	background: #162d36;
	padding: 14px 0;
	margin: 0 0 14px;
	.footer-area {
		display: flex;
		flex-wrap: wrap;
		@include media(mobile) {
			display: block;
		}
	}
	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include media(mobile) {
			display: block;
		}
	}
	.contact-info {
		font-size: 30px;
		font-family: $font-play;
		padding: 15px;
		@include media(tablet) {
			font-size: 20px;
		}
		h2 {
			font-size: 30px;
			color: #fff;
			@include media(tablet) {
				font-size: 20px;
			}
		}
		a {
			padding: 0 0 4px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				height: 2px;
				width: 0;
				background: $color-link;
				transition: all .35s ease-out;
			}
			&:hover {
				color: $color-link;
				&:before {
					width: 100%;
				}
			}
		}
	}
}