$bg-main: #fff;
$bg-dark: #0f2128;

$color-main: #4a4a4a;
$color-secondary: #6ab2c0;
$color-link: #6ab2c0;
$color-link-hover: #057d1b;
$color-link-opacity: rgba(106,178,192,.8);
$color-title: #0f2128;

$font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-play: 'Play', Arial, Helvetica, sans-serif;

$container-width: 1560px;

$desktop: 1560px;
$tablet: 1024px;
$mobile: 767px;
$mobile-small: 480px;