.visual {
	position: relative;
	background: $bg-dark;
	text-align: center;
	padding: 0 122px;
	color: #fff;
	position: relative;
	z-index: 2;
	@include media(desktop) {
		padding: 0 44px;
	}
	> .container {
		position: relative;
		z-index: 2;
		padding: 50px 0 110px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 10px;
			background-image: url("../images/bg-visual.png");
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: 100% auto;
			z-index: -1;
		}
	}
	h1 {
		font-size: 60px;
		margin: 0 0 57px;
		letter-spacing: 1px;
		color: #fff;
	}
	h2 {
		font-size: 30px;
		margin: 0 0 1px;
		letter-spacing: 2px;
		color: #fff;
	}
	.btn-holder {
		margin: 0 0 30px;
	}
}
.list-visual {
	list-style: none;
	font-size: 0;
	margin: 0 0 38px;
	li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 33.33%;
		padding: 153px 6% 30px;
		font-size: 18px;
		line-height: 1.22;
		&:before {
			content: '';
			position: absolute;
			top: 22px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			width: 98px;
			height: 98px;
			border: 1px solid #eee;
		}
	}
	p {
		margin: 0;
	}
}
.logo {
	margin: 0 0 31px;
	display: inline-block;
	vertical-align: top;
	a {
		display: block;
	}
}